@model MeetLifeClient.Models.FriendDetailViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FriendDetailsView</title>
</head>
<body>
    <div> 
        <h1>@Model.UserName</h1>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <h2>@Model.FirstName</h2>
                @*@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })*@
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <h2>@Model.LastName</h2>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <h2>@Model.Age</h2>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Adress, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <h2>@Model.Adress</h2>
            </div>
        </div>

        @{ if (!Model.CheckForFriend)
            {
                <p>@Html.ActionLink("Add Friend", "AddInvitationFriend/" + Model.UserName.ToString(), "DetaialUser")</p>
            }
           
        }

    </div>
</body>
</html>
