@model MeetLifeClient.Models.DetailsViewModels.FriendDetailViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FriendDetailsView</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForPosts.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForDetailsPage.css">
</head>
<body>
    <div>
        <div id="left">
            <h1>@Model.UserName</h1>
            <img src="@Model.ImageUser" alt="No profil picture" style="max-height:200px;max-width:200px" />
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.FirstName</h2>
                    @*@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.LastName</h2>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Age</h2>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Adress, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Adress</h2>
                </div>
            </div>
            <a href="/DetaialUser/Pictures/@Model.UserName.ToString()" class="btn btn-info">Pictures</a>
        </div>

        <div id="central">
            <div id="PostList">
                <ul id="TablePost">
                    @{
                        foreach (var post in Model.Post)
                        {
                            <li class="PostRow">
                                <div>
                                    @{
                            var likesId = "ListWithLikes" + @post.PostId;
                            var ButtonLike = "ButtonLike " + @post.PostId;
                            var ButtonComment = "ButtonComment " + @post.PostId;
                            var commendDestrictionId = "CommentDisctriptionId" + @post.PostId;
                            var CommentPostWithId = "CommentPostWithId" + @post.PostId;
                                    }

                                    <a id="UserName" href="/DetaialUser/Details/@post.UserName"><img src="@post.PictureOfUser" class="imgPostLikeComment" alt="" /><h4 style="margin-bottom:0">@post.UserName</h4></a>
                                    <p style="margin-left:10%">@post.DateOnPost min</p>
                                    <p style="margin-left:2%">@post.DiscriptionPost</p>
                                    <img id="imgPost" src="@post.PicturePost" alt="" />
                                    <div>
                                        <button id="CountLike" name="@post.PostId" class="btn btn-success">Like: @post.Likes.Count</button>
                                        <input id="@commendDestrictionId" class="comment" type="text" name="discriptin" />
                                        <input id="CommentCreateButtonId" type="button" class="commentButton btn btn-success" name="@ButtonComment" value="Save comment" />
                                    </div>
                                    <button id="ShowComments" name="@post.PostId" class="btn btn-success">Comments</button>
                                    <button id="PutLikeButtonId" type="button" class="btn btn-success" name="@ButtonLike">Like</button>

                                    <div id="@likesId" class="hidden myBox">

                                        @foreach (var like in post.Likes)
                                        {
                                            <div class="divInfo">
                                                <img src="@like.PictureProfile" class="imgPostLikeComment" />
                                                <p>@like.Username</p>
                                            </div>
                                        }

                                    </div>
                                    <div>
                                        <div id="@CommentPostWithId" class="hidden myBox">

                                            @foreach (var comment in post.Comments)
                                            {
                                                <div class="divInfoComments">
                                                    <img src="@comment.PictureProfile" class="imgPostLikeComment" />
                                                    <p class="DescriptComment">@comment.Username  @comment.Description</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div id="right">
            @{ if (!Model.CheckForFriend)
             {
                <p>@Html.ActionLink("Add Friend", "AddInvitationFriend/" + Model.UserName.ToString(), "DetaialUser", new { @class = "btn btn-info" })</p>
             }

            }
            <h3>Friend</h3>
            @{
                foreach (var friend in Model.Friends)
                {
                    <div style="margin-bottom: 15%">
                        <img src="@friend.PictureUser" class="imgPostLikeComment" alt="" />@Html.ActionLink(@friend.UserName, "Details/" + friend.UserName.ToString(), "DetaialUser")
                    </div>
                }
            }

        </div>
    </div>

    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>
</body>
</html>
