@model MeetLifeClient.Models.FriendDetailViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FriendDetailsView</title>
    <style>
        #left {
            width: 40%;
            float: left;
        }

        #central {
            width: 20%;
            float: left;
        }

        #right {
            width: 20%;
            float: right;
        }
    </style>
</head>
<body>
    <div>
        <div id="left">
            <h1>@Model.UserName</h1>
            <img src="@Model.ImageUser" alt="No profil picture" style="max-height:200px;max-width:200px" />
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.FirstName</h2>
                    @*@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.LastName</h2>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Age</h2>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Adress, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Adress</h2>
                </div>
            </div>
        </div>

        <div id="central">
            <div id="PostList">
                @{
                    foreach (var post in Model.Post)
                    {
                        <table style="border:2px solid red">
                            <tr>
                                <td>
                                    <div>
                                        @{
                                            var likesId = "ListWithLikes" + @post.PostId;
                                            var ButtonLike = "ButtonLike " + @post.PostId;
                                            var ButtonComment = "ButtonComment " + @post.PostId;
                                            var commendDestrictionId = "CommentDisctriptionId" + @post.PostId;
                                            var CommentPostWithId = "CommentPostWithId" + @post.PostId;
                                        }

                                        <a id="UserName" href="/DetaialUser/Details/@post.UserName">@post.UserName</a>
                                        <p>Time: @post.DateOnPost min</p>
                                        <p>Post: @post.DiscriptionPost</p>
                                        <img src="@post.PicturePost" alt="" style="width:100px; height:100px" />
                                        <button id="CountLike" name="@post.PostId">Like: @post.Likes.Count</button>
                                        <div id="@likesId" class="hidden myBox">

                                            @foreach (var like in post.Likes)
                                            {
                                                <img src="@like.PictureProfile" style="max-height:30px;max-width:60px" />
                                                <p>@like.Username</p>
                                            }

                                        </div>
                                        <input id="PutLikeButtonId" type="button" name="@ButtonLike" value="Like" />
                                        <div><input id="@commendDestrictionId" type="text" name="discriptin" /></div>
                                        <input id="CommentCreateButtonId" type="button" name="@ButtonComment" value="Save comment" />
                                        <div id="@CommentPostWithId">

                                            @foreach (var comment in post.Comments)
                                            {
                                                <img src="@comment.PictureProfile" style="max-height:30px;max-width:60px" />
                                                <p>@comment.Username : @comment.Description</p>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>

        <div id="right">
            <a href="/DetaialUser/Pictures/@Model.UserName.ToString()" class="btn btn-info">Pictures</a>
            @{ if (!Model.CheckForFriend)
            {
                    <p>@Html.ActionLink("Add Friend", "AddInvitationFriend/" + Model.UserName.ToString(), "DetaialUser", new { @class = "btn btn-info" })</p>
                }

            }
        </div>
    </div>

    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>
</body>
</html>
