@using Microsoft.AspNet.Identity
@model MeetLifeClient.Models.DetailsViewModels.UserDetailsViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForPosts.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForDetailsPage.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForMeesageAndNotification.css">
</head>
<body>
    <div id="container">
        <div id="left">
            <div style="margin-top:1%;">
                <button id="EditInfoUser" class="btn btn-success">Idet information</button>
                <a href="/DetaialUser/Pictures/@User.Identity.GetUserName()" class="btn btn-success">Pictures</a>
            </div>
            <h1>@User.Identity.GetUserName()</h1>
            <img src="@Model.ImageBrand" alt="No profil picture" style="max-height:300px;max-width:300px" />

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.FirstName</h2>
                    @*@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.LastName</h2>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Email</h2>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Age</h2>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Adress, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <h2>@Model.Adress</h2>
                </div>
            </div>

            <div id="FormInfo" class="hidden">
                <h4>Edit information for user.</h4>
                <a href="/Manage/ChangePassword" class="btn btn-success">Change password</a>
                @using (Html.BeginForm("Create", "DetaialUser", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Age, new { @class = "col-md-5 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Adress, new { @class = "col-md-5 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ImageBrand, new { @class = "col-md-5 control-label" })
                        <div class="col-md-10">
                            <input type="file" id="image" name="Image" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="Save Details" style="margin-top:1%;" />
                        </div>
                    </div>
                }
            </div>
        </div>


        <div id="central">
            <div class="PostFormat">
                @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        <h4 class="col-md-10">Write post description</h4>
                        <div>
                            <input type="text" name="discriptin" style=" width: 100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="col-md-4">Picture post</h4>
                        <div class="col-md-6">
                            <input type="file" class="btn btn-primary" id="image" name="Image" style="width:130%" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-6">
                            <input type="submit" class="btn btn-primary" value="Create Post" style="margin-left:60%" />
                        </div>
                    </div>
                }
            </div>
            <div id="PostList">
                <ul id="TablePost">
                    @{
                        foreach (var post in Model.Post)
                        {
                            <li class="PostRow">
                                <div>
                                    @{
                            var likesId = "ListWithLikes" + @post.PostId;
                            var ButtonLike = "ButtonLike " + @post.PostId;
                            var ButtonComment = "ButtonComment " + @post.PostId;
                            var commendDestrictionId = "CommentDisctriptionId" + @post.PostId;
                            var CommentPostWithId = "CommentPostWithId" + @post.PostId;
                            var buttonNameCommentShow = "ButtonShowComment " + @post.PostId;
                                    }

                                    <a id="UserName" href="/DetaialUser/Details/@post.UserName"><img src="@post.PictureOfUser" class="imgPostLikeComment" alt="" /><h4 style="margin-bottom:0">@post.UserName</h4></a>
                                    <p style="margin-left:10%">@post.DateOnPost min</p>
                                    <p style="margin-left:2%">@post.DiscriptionPost</p>
                                    <img id="imgPost" src="@post.PicturePost" alt="" />
                                    <div>
                                        <button id="CountLike" name="@post.PostId" class="btn btn-success">Like: @post.Likes.Count</button>
                                        <input id="@commendDestrictionId" class="comment" type="text" name="discriptin" placeholder="Write your comment.." />
                                        <input id="CommentCreateButtonId" type="button" class="commentButton btn btn-success" name="@ButtonComment" value="Save comment" />
                                    </div>
                                    <div id="@likesId" class="hidden myBox">

                                        @foreach (var like in post.Likes)
                                        {
                                            <div class="divInfo">
                                                <img src="@like.PictureProfile" class="imgPostLikeComment" />
                                                <p>@like.Username</p>
                                            </div>
                                        }

                                    </div>

                                    <button id="ShowComments" name="@buttonNameCommentShow" class="btn btn-success">Comments @post.Comments.Count()</button>

                                    <div id="@CommentPostWithId" class="hidden myBox">

                                        @foreach (var comment in post.Comments)
                                        {
                                            <div class="divInfoComments">
                                                <img src="@comment.PictureProfile" class="imgPostLikeComment" />
                                                <p class="DescriptComment">@comment.Username  @comment.Description</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div id="right">
            <h3>Friend</h3>
            @{
                foreach (var friend in Model.Friends)
                {
                    <div style="margin-bottom: 15%">
                        <img src="@friend.PictureUser" class="imgFriendUsers" alt="" />
                        @Html.ActionLink(@friend.UserName, "Details/" + friend.UserName.ToString(), "DetaialUser")
                    </div>
                }
            }
        </div>
    </div>
    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>

</body>
</html>
