@model MeetLifeClient.Models.DetailsViewModels.UserPicturesModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pictures</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForPosts.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForMeesageAndNotification.css">
</head>
<body>
    <div>
        <div id="InformationForUser" class="hidden"></div>
        @if (User.Identity.Name.Contains(Model.UserName))
        {
            <div class="PictureBeginForm">
                @using (Html.BeginForm("PicturesSave", "DetaialUser", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <h4 class="col-md-12">Write discriptin</h4>
                        <div>
                            <input type="text" id="discriptin" name="Discriptin" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Pictures </label>
                        <div class="col-md-6">
                            <input type="file" id="image" name="Image" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-primary" value="Upload picture" style="margin-top: 2%" />
                        </div>
                    </div>
                }
            </div>

        }
        
        <div id="PostList">
            <ul id="TablePictures">
                @foreach (var post in Model.PostsWithPictures)
                {
                    <li>
                        <div>
                            @{
                    var likesId = "ListWithLikes" + @post.PostId;
                    var ButtonLike = "ButtonLike " + @post.PostId;
                    var ButtonComment = "ButtonComment " + @post.PostId;
                    var commendDestrictionId = "CommentDisctriptionId" + @post.PostId;
                    var CommentPostWithId = "CommentPostWithId" + @post.PostId;
                    var buttonNameCommentShow = "ButtonShowComment " + @post.PostId;
                            }

                            <a id="UserName" href="/DetaialUser/Details/@post.UserName"><img src="@post.PictureOfUser" class="imgPostLikeComment" alt="" /><h4 style="margin-bottom:0">@post.UserName</h4></a>
                            <p style="margin-left:2%">@post.DateOnPost min</p>
                            <p style="margin-left:2%">@post.DiscriptionPost</p>
                            <img id="imgPost" src="@post.PicturePost"/>
                            <button id="CountLike" name="@post.PostId" class="CountLikeButton btn btn-success">Like: @post.Likes.Count</button>
                            <div>
                                <input id="@commendDestrictionId" class="comment" type="text" name="discriptin" placeholder="Write your comment.." />
                                <input id="CommentCreateButtonId" type="button" class="commentButton btn btn-success" name="@ButtonComment" value="Save comment" />
                            </div>
                            <div id="@likesId" class="hidden myBoxForPictures">
                                @foreach (var like in post.Likes)
                                {
                                    <div class="divInfo">
                                        <img src="@like.PictureProfile" class="imgPostLikeComment" />
                                        <p>@like.Username</p>
                                    </div>
                                }
                            </div>

                            @if (!post.IsProfilePicture && Model.UserName == User.Identity.Name)
                            {
                                <button id="MekaProfilePicture" class="btn btn-success" name="@post.PostId">Make profile picture</button>
                            }
                            
                            <input id="PutLikeButtonId" type="button" class="btn btn-success" name="@ButtonLike" value="Like" />                         
                            <button id="ShowComments" name="@buttonNameCommentShow" class="btn btn-success">Comments @post.Comments.Count()</button>
                            
                            <div id="@CommentPostWithId" class="hidden myBoxForPictures">
                                @foreach (var comment in post.Comments)
                                {
                                    <div class="divInfoComments">
                                        <img src="@comment.PictureProfile" class="imgPostLikeComment" />
                                        <p class ="DescriptComment">@comment.Username : @comment.Description</p>
                                    </div>
                                }
                            </div>
                        </div>

                    </li>
                }
            </ul>
        </div>
    </div>

    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>

</body>
</html>
