@model MeetLifeClient.Models.UserPicturesModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pictures</title>
</head>
<body>
    <div>
        @if (User.Identity.Name.Contains(Model.UserName))
        {
            using (Html.BeginForm("PicturesSave", "DetaialUser", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Write discriptin</label>
                    <div>
                        <input type="text" id="discriptin" name="Discriptin" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Pictures </label>
                    <div class="col-md-10">
                        <input type="file" id="image" name="Image" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" class="btn btn-default" value="Upload picture" />
                    </div>
                </div>
            }
        }

        <table id="TablePictures">
            @if (Model.SrcPistures.Count > 3)
            {
                for (int i = 0; i < Model.SrcPistures.Count; i += 3)
                {
                    <tr>
                        @for (int j = i; j < i + 3; j++)
                        {
                            if (j < Model.SrcPistures.Count)
                            {
                                <td>
                                    <p>@Model.SrcPistures[j].Destriction</p>
                                    <p>@Model.SrcPistures[j].Date</p>
                                    <img src="@Model.SrcPistures[j].SrcPistures" alt="Alternate Text" style="max-height:300px;max-width:300px" />
                                    <p>Like: @Model.SrcPistures[j].Likes</p>

                                    <input id="@Model.SrcPistures[j].PictureId" type="text" name="description" />
                                    <button id="CommentPictures" name="@Model.SrcPistures[j].PictureId">Create comment</button>

                                    @if (Model.UserName != User.Identity.Name)
                                    {
                                        <button id="LikePictures" name="@Model.SrcPistures[j].PictureId">Like</button>
                                    }

                                    @if (!@Model.SrcPistures[j].IsProfilePicture && Model.UserName == User.Identity.Name)
                                    {
                                        <button id="MekaProfilePicture" name="@Model.SrcPistures[j].PictureId">Make profile picture</button>
                                    }

                                    <h4>Comments</h4>
                                    @foreach (var comment in @Model.SrcPistures[j].Comments)
                                    {
                                        <p> @comment.Username: @comment.Description</p>
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    @foreach (var picture in Model.SrcPistures)
                    {
                        <td>
                            <p>@picture.Destriction</p>
                            <p>@picture.Date</p>
                            <img src="@picture.SrcPistures" alt="Alternate Text" style="max-height:300px;max-width:300px" />
                            <p>Like: @picture.Likes</p>

                            <input id="@picture.PictureId" type="text" name="description" />
                            <button id="CommentPictures" name="@picture.PictureId">Create comment</button>

                            @if (Model.UserName != User.Identity.Name)
                            {
                                <button id="LikePictures" name="@picture.PictureId">Like</button>
                            }


                            @if (!picture.IsProfilePicture && Model.UserName == User.Identity.Name)
                            {
                                <button id="MekaProfilePicture" name="@picture.PictureId">Make profile picture</button>
                            }

                            <h4>Comments</h4>
                            @foreach (var comment in picture.Comments)
                            {
                                <p> @comment.Username: @comment.Description</p>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <script>

        $("#TablePictures").on("click", "#CommentPictures", function (e) {

            var pictureId = $(this).attr('name');

            var description = $('#' + pictureId).val();

            $.ajax({
                url: "/Post/CreateCommentOnPostWithPicture",
                type: "POST",
                data: JSON.stringify({ Description: description, PictureId: pictureId }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                }
            });

        });

        $("#TablePictures").on("click", "#LikePictures", function (e) {

            var pictureId = $(this).attr('name');

            $.ajax({
                url: "/Post/PutLikeOnThePostWithPicture",
                type: "POST",
                data: JSON.stringify({ PictureId: pictureId }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                }
            });

        });

        $("#TablePictures").on("click", "#MekaProfilePicture", function (e) {

            var pictureId = $(this).attr('name');

            $.ajax({
                url: "/DetaialUser/ChangeProfilePicture",
                type: "POST",
                data: JSON.stringify({ PictureId: pictureId.toString() }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == "Success") {
                        location.reload();
                    }
                }
            });

        });


    </script>

</body>
</html>
