@{
    ViewBag.Title = "Home Page";
}

@model FaceBookClient.Models.HomeIndexViewModel

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <p>Invitations from Friend: @Model.CountAskForFriend</p>
    @foreach (var ask in Model.AllAskForFriend)
            {
        <div>
            <p>@ask.Username</p>
            <p>@Html.ActionLink("Accept invitation", "ConferFriend/" + ask.Username + "/accept", "Home", new { @class = "btn btn-info" })</p>
            <p>@Html.ActionLink("Detele invitation", "ConferFriend/" + ask.Username + "/delete", "Home", new { @class = "btn btn-info" })</p>
        </div>


    }
</div>



<div class="row">

    <table id="Chat" style="float: left; border:2px solid red">
        @*<tr>
            <td>
                <div>
                    @Html.DropDownListFor(m => m.AllUserNames, 
                   new SelectList(Model.AllUserNames), "-----Select your friend-----", 
                   new { @id = "UserNameDrobDown", @class= "btn btn-success dropdown-toggle" })
                </div>
            </td>
        </tr>*@

        <tr>
            <td>
                <div id="ChatWithUser">

                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <input type="text" id="message" class="modal-body" value="message " />
                </div>
            </td>
        </tr>

       

        <tr>
            <td style="padding-left: 50px">
                <button id="send-message" class="btn btn-info">Send</button>
            </td>
        </tr>

        <tr>
            <td>
                <div id="messages">
                </div>
            </td>
        </tr>
    </table>



    @*<div class="dropdown" style="float: right; right: 5%">
        <button onclick="myFunction()" class="dropbtn">Users</button>
        <div id="myDropdown" class="dropdown-content">
            @foreach (var user in Model.AllUsers)
            {
                <p>
                    @Html.ActionLink(@user.UserName, "Details/" + user.UserName.ToString(), "DetaialUser")
                    @if (user.IsOnline)
                    {
                        <div style="border: 5px solid red;"></div>
                    }
                </p>
            }
        </div>
    </div>*@

    <div style="float: right; right: 5%">
        <h2>Users:</h2>
        <ul id="UserName" class="list-group" style="border: 2px solid">
            @foreach (var user in Model.AllUsers)
            {
                <li id="specifik" class="list-group-item">
                    @*@Html.ActionLink(@user.UserName, "Details/" + user.UserName.ToString(), "DetaialUser")*@

                    <div id="User" class="btn btn-default">@user.UserName</div>

                    @if (user.IsOnline)
                    {
                        <div class="label label-info">Online</div>
                    }

                </li>
            }
        </ul>
    </div>

</div>