@model MeetLifeClient.Models.HomeViewModels.HomePostModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsPost</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForPosts.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForMeesageAndNotification.css">
</head>
<body>
    <div id="InformationForUser" class="hidden"></div>
    <div id="PostList" class="detailPost">
        <div>
            @{
                var likesId = "ListWithLikes" + Model.PostId;
                var ButtonLike = "ButtonLike " + Model.PostId;
                var ButtonComment = "ButtonComment " + Model.PostId;
                var commendDestrictionId = "CommentDisctriptionId" + Model.PostId;
                var CommentPostWithId = "CommentPostWithId" + Model.PostId;
                var buttonNameCommentShow = "ButtonShowComment " + Model.PostId;                
            }

            <a id="UserName" href="/DetaialUser/Details/@Model.UserName"><img src="@Model.PictureOfUser" class="imgPostLikeComment" alt="" /><h4 style="margin-bottom:0">@Model.UserName</h4></a>
            <p style="margin-left:4%">@Model.DateOnPost min</p>
            <p style="margin-left:1%">@Model.DiscriptionPost</p>
            <img id="imgPost" src="@Model.PicturePost" alt="" />
            <div>
                <button id="CountLike" name="@Model.PostId" class="btn btn-success">Like: @Model.Likes.Count</button>
                <input id="@commendDestrictionId" class="comment" type="text" name="discriptin" placeholder="Write your comment.." />
                <input id="CommentCreateButtonId" type="button" class="commentButton btn btn-success" name="@ButtonComment" value="Save comment" />
            </div>

            <div id="@likesId" class="hidden myBox">

                @foreach (var like in Model.Likes)
                {
                    <div class="divInfo">
                        <img src="@like.PictureProfile" class="imgPostLikeComment" />
                        <p>@like.Username</p>
                    </div>
                }

            </div>

            <input id="PutLikeButtonId" type="button" class="btn btn-success" name="@ButtonLike" value="Like" />
            <button id="ShowComments" name="@buttonNameCommentShow" class="btn btn-success">Comments @Model.Comments.Count()</button>

            <div id="@CommentPostWithId" class="hidden myBox">

                @foreach (var comment in Model.Comments)
                {
                    <div class="divInfoComments">
                        <img src="@comment.PictureProfile" class="imgPostLikeComment" />
                        <p class="DescriptComment">@comment.Username : @comment.Description</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>

</body>
</html>
