@model MeetLifeClient.Models.HomePostModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsPost</title>
</head>
<body>
    <div>
        <a id="UserName" href="/DetaialUser/Details/@Model.UserName"> @Model.UserName</a>
        <img src="@Model.PicturePost" style="max-height:200px;max-width:200px" />
        <p>Time: @Model.DateOnPost min</p>
        <p>Post: @Model.DiscriptionPost</p>

        <button id="CountLike" name="@Model.PostId">Like: @Model.Likes.Count</button>
        <div id="ListWithLikes" class="hidden">


            @foreach (var like in Model.Likes)
            {
                <p>@like.UserName</p>
            }
        </div>

        <div><input id="@Model.PostId" type="text" name="discriptin" /></div>
        <input id="CommentCreateButton" type="button" name="ButtonComment @Model.PostId" value="Save comment" />
        <div id="CommentPostWithId">

            @foreach (var comment in @Model.Comments)
            {
                <p>@comment.Username: @comment.Description</p>

            }
        </div>
    </div>

    <a href="/Home/Index">Home</a>

    <script>
        $('#CountLike').click(function () {
            var $editInfo = $('#ListWithLikes');

            if ($editInfo.hasClass("hidden")) {
                $editInfo.removeClass("hidden");
            }
            else {
                $editInfo.addClass("hidden");
            }
        });

        $('#CommentCreateButton').click(function () {

            var nameOnButtonArr = $(this).attr('name').split(" ");
            var idOnPost = nameOnButtonArr[1];

            var descriptionOnPost = $('#'+idOnPost).val();

            $.ajax({
                url: "/Post/CreateComment",
                type: "POST",
                data: JSON.stringify({ model: descriptionOnPost, postId: idOnPost }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.reload();
                }
            });
        })
    </script>
</body>
</html>
