@model MeetLifeClient.Models.HomeViewModels.HomePostModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsPost</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForPosts.css">
</head>
<body>
    <div id="PostList">
        <div>
            @{
                var likesId = "ListWithLikes" + Model.PostId;
                var ButtonLike = "ButtonLike " + Model.PostId;
                var ButtonComment = "ButtonComment " + Model.PostId;
                var commendDestrictionId = "CommentDisctriptionId" + Model.PostId;
                var CommentPostWithId = "CommentPostWithId" + Model.PostId;
            }

            <a id="UserName" href="/DetaialUser/Details/@Model.UserName">@Model.UserName</a>
            <p>Time: @Model.DateOnPost min</p>
            <p>Post: @Model.DiscriptionPost</p>
            <img src="@Model.PicturePost" alt="" style="max-height:300px;max-width:300px" />
            <button id="CountLike" name="@Model.PostId">Like: @Model.Likes.Count</button>
            <div id="@likesId" class="hidden myBox">

                @foreach (var like in Model.Likes)
            {
                    <img src="@like.PictureProfile" class="imgPostLikeComment" />
                    <p>@like.Username</p>
                }

            </div>

            @if (!Model.UserName.Contains(this.User.Identity.Name))
            {
                <input id="PutLikeButtonId" type="button" name="@ButtonLike" value="Like" />
            }

            <div>
                <input id="@commendDestrictionId" type="text" name="discriptin" />
            </div>
            <input id="CommentCreateButtonId" type="button" name="@ButtonComment" value="Save comment" />
            <div id="@CommentPostWithId" class="myBox">

                @foreach (var comment in Model.Comments)
                {
                    <img src="@comment.PictureProfile" class="imgPostLikeComment" />
                    <p>@comment.Username : @comment.Description</p>
                }
            </div>
        </div>
    </div>

    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>

</body>
</html>
