@model MeetLifeClient.Models.HomeViewModels.HomeIndexViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Begining</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleForPosts.css">
    <style>
        #left {
            width: 30%;
            float: left;
        }

        #central {
            width: 40%;
            float: left;
        }

        #right {
            width: 20%;
            float: right;
        }
    </style>
</head>
<body>
    <div id="left">
        <div id="NoSeenMessage">
            <div id="CountMissMessage" style="float:left"></div>
            <input type="button" id="NotificationMessageMiss" class="btn btn-success" value="Message" />
            <div id="AllMessageFromUsers" class="hidden"></div>
        </div>
        <div id="NotificationsOnUser">
            <div id="CountNotification" style="float:left"></div>
            <input type="button" id="NotificationsOnUserButton" class="btn btn-success" value="Notification" />
            <div id="AllNotifications" class="hidden myBox"></div>
        </div>
    </div>

    <div id="central">
        <input id="SearchUserId" type="text" name="search" placeholder="Write your comment.." style="position:relative;left:20%;bottom:20%" />
        <div id="ListUsers" style="z-index: 10;"></div>

        <div id="PostList">
            <table id="TablePost">
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            <div>
                                @{
                    var aHref = "/DetaialUser/Details/" + @post.UserName;
                    var ListWithLikes = "ListWithLikes" + @post.PostId;
                    var commendDestrictionId = "CommentDisctriptionId" + @post.PostId;
                    var CommentPostWithId = "CommentPostWithId" + @post.PostId;
                    var buttonNameLike = "ButtonLike " + @post.PostId;
                    var buttonNameComment = "ButtonComment " + @post.PostId;
                                }
                                <a id="UserName" href="@aHref"><img src="@post.PictureOfUser" class="imgPostLikeComment" alt="" /><h4 style="margin-bottom:0">@post.UserName</h4></a>
                                <p style="margin-left:10%">@post.DateOnPost min</p>
                                <p style="margin-left:2%"> @post.DiscriptionPost</p>
                                <img id="imgPost" src="@post.PicturePost" />
                                <button id="CountLike" name="@post.PostId" class="btn btn-success">Like: @post.Likes.Count</button>
                                <div id="@ListWithLikes" class="hidden myBox">
                                    @foreach (var like in post.Likes)
                                    {
                                        <div class="divInfo">
                                            <img src="@like.PictureProfile" class="imgPostLikeComment" />
                                            <p>@like.Username</p>
                                        </div>
                                    }
                                </div>
                                <input id="PutLikeButtonId" type="button" class="btn btn-success" name="@buttonNameLike" value="Like" />
                                <div><input id="@commendDestrictionId" type="text" name="discriptin" placeholder="Write your comment.." /></div>
                                <input id="CommentCreateButtonId" type="button" class="btn btn-success" name="@buttonNameComment" value="Save comment" />
                                <div id="@CommentPostWithId" class="myBox">
                                    @foreach (var comment in post.Comments)
                                    {
                                        <div class="divInfo">
                                            <img src="@comment.PictureProfile" class="imgPostLikeComment" />
                                            <p>@comment.Username : @comment.Description</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>

    <div id="right">
        <div id="AskFriendList"></div>

        <div class="row">
            <div id="Chat"></div>
            <div style="float: right; right: 5%">
                <h2>Friend:</h2>
                <ul id="UsersList" class="list-group" style="border: 2px solid; float:right"></ul>
            </div>
        </div>
        @*<h3>Messages: </h3>
            @{
                foreach (var message in Model.Messages)
                {
                    <div>
                        <p style="float:left">@message.UserName:</p>
                        <p> @message.Letter</p>
                    </div>
                }
            }*@
        <div></div>
    </div>

    <script src="~/Scripts/ScriptForAskFriend.js"></script>
    <script src="~/Scripts/ScriptForChat.js"></script>
    <script src="~/Scripts/ScriptForUserInfo.js"></script>
    <script src="~/Scripts/ScriptForPosts.js"></script>
    <script src="~/Scripts/ScriptForRefreshPostDetails.js"></script>
    <script src="~/Scripts/ScriptsForButtons.js"></script>
    <script src="~/Scripts/ScriptForNoSeeMessage.js"></script>
    <script src="~/Scripts/ScriptForNotificationsOnUser.js"></script>

    <script>

        //$(function () {

        //    // Proxy created on the fly
        //    var job = $.connection.noSeenMessageHub;

        //    // Declare a function on the job hub so the server can invoke it
        //    job.client.displayAllNoSeenMessage = function () {
        //        getDataForAllNoSeenMessage();
        //    };

        //    // Start the connection
        //    $.connection.hub.start();
        //    getDataForAllNoSeenMessage();
        //});


        //function getDataForAllNoSeenMessage() {
        //    var $tbl = $('#NoSeenMessage');

        //    $.ajax({
        //        url: 'GetAllNoSeenMessage',
        //        type: 'GET',
        //        datatype: 'json',
        //        success: function (data) {
        //            if (data.length > 0) {
        //                $tbl.empty();
        //                var rows = [];
        //                rows.push(' <h3>Messages: </h3>');

        //                for (var i = 0; i < data.length; i++) {
        //                    rows.push(' <div>');
        //                    rows.push('  <p>' + data[i].FormUser + ': ' + data[i].Message + '</p>');
        //                    rows.push(' </div>');
        //                }

        //                $tbl.append(rows.join(''));
        //            }
        //        }
        //    });
        //}




    </script>
</body>
</html>
