<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET FaceBook</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/MyScripts")

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/ScriptForChat.js"></script>
    

    <script type="text/javascript">

        $(function () {

            // Proxy created on the fly
            var job = $.connection.userHub;

            // Declare a function on the job hub so the server can invoke it
            job.client.displayStatus = function () {
                getData();
            };

            // Start the connection
            $.connection.hub.start();
            getData();
        });


        function getData() {
            var $tbl = $('#UsersList');
            $.ajax({
                url: 'ResultInfoFOrUsers',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $tbl.empty();
                        var rows = [];
                        for (var i = 0; i < data.length; i++) {
                            rows.push(' <li id="specifik" class="list-group-item">');
                            rows.push(' <div id="User" class="btn btn-default">' + data[i].Name + '</div>');
                            if (data[i].IsOnline) {
                                rows.push(' <div class="label label-info">Online</div>');
                            }
                            rows.push(' </li>');
                        }
                        console.log(rows);

                        $tbl.append(rows.join(''));
                    }
                }
            });
        }

        $("#UsersList").on("click", "#specifik", function (e) {
            var userName = $(this).find("#User").text();
            console.log("here");
            var divForChatWithFRiend = $("#Chat").find("#ChatWithUser");

            divForChatWithFRiend.text("");

            divForChatWithFRiend.append('<a href="/DetaialUser/Details/' + userName + '">' + userName + '</a>');
        });
    </script>

 
</body>
</html>
